

.home h1{
        font-size: 50px;
        color: rgba(28, 29, 33, 1);
        font-family: 'Courier New', Courier, monospace;

        
    }

.home img {
        height:250px;
        width: 250px;
      
    }