nav.navbar {
    background-color: rgb(179, 170, 164);
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}

nav.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.navbar ul li {
    margin: 20px;
    display: inline-block;
}

nav.navbar ul li a {
    text-decoration: none;
    color: rgb(0, 2, 129);

}
nav.navbar a:hover {
    border-bottom: 5px;
    color: rgba(68, 88, 119, 1);
}
