.footer pink {
    min-height: 400px;
    background: #E5E5E5;
    position: relative;
    color: pink;
    line-height: 5.5;
  }
  
  .footer span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: #B8B8B8;
  }